{{define "footer"}}
<footer>
    <div class="text-bg-primary py-5 text-center">
        <p>&copy; 2025 <a href="#" class="text-reset"> py</a></p>
    </div>
</footer>


<script src="/static/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
{{end}}